<div class="relative bg-white">
  <!-- HERO SECTION -->
  <div class="relative h-screen flex items-center justify-center">
    <img class="absolute inset-0 w-full h-full object-cover brightness-80 contrast-100 opacity-100" src="/coverphotos/coverphoto-260407.JPG" alt="Cover Photo">
    <!-- Rainbow Gradient Overlay -->
    <div class="absolute inset-0 bg-gradient-to-r from-blue-500/30 via-purple-500/70 via-green-500/30 via-red-500/40 to-yellow-500/30 opacity-70 mix-blend-overlay"></div>
    <div class="absolute inset-0 bg-black/30"></div>

    <!-- Hero Content -->
    <div class="relative text-center text-white px-6 py-16 sm:py-24 lg:py-28">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-full px-3 py-1 text-2xl text-gray-200 ring-1 ring-gray-200/50 hover:ring-gray-200 hover:scale-105 transition-transform duration-300 ease-in-out">
          Check out our 2025 First Year Guide!
          <a href="https://drive.google.com/file/d/1wR9QEjfXN083SalIQWsshq-KWSPsXtmj/view?usp=sharing" class="font-semibold text-indigo-300 hover:text-indigo-500">Read more</a>
        </div>        
      </div>
      <h1 class="text-5xl font-bold tracking-tight sm:text-7xl" style="font-size: 5vw;">
        UNSW Data Science Society
      </h1>      
      <p class="mt-8 text-lg font-medium sm:text-xl">
        Uniting students with a passion for data science, machine learning, and artificial intelligence.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="https://forms.gle/3s3r3BAKBuur8LeS9" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-indigo-500 transition duration-300 ease-in-out">Join Now</a>
        <a href="/about" class="text-sm font-semibold text-white hover:underline">About us</a>
      </div>
    </div>
  </div>
</div>