---
import Container from '../../components/Container.astro';
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Who We Are - UNSW Data Science Society">
    <Header>
        <h1>Who We Are</h1>
        <p>Meet the people behind UNSW DataSoc.</p>
    </Header>

    <Container class="space-y-10 py-6 max-w-6xl">

        <section class="space-y-6">
            <h2 class="text-2xl font-bold">Our Board</h2>

            <div class="flex flex-wrap justify-center gap-6">

                <!-- FIRST IMAGE -->
                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025432.JPG"
                         class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <!-- REST -->
                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025327.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025344.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025385.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025389.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025390.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025394.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025400.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025404.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025412.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025414.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025418.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025419.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025422.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025425.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025429.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025438.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

                <div class="w-[45%] md:w-[30%] lg:w-[22%]">
                    <img src="/who-we-are/datasoc-board-photos/P1025443.JPG" class="w-full h-80 object-cover border-4 border-black" />
                </div>

            </div>
        </section>

    </Container>
</Layout>
